label#etichettaQuintali {
    float: right;
    margin-right: 20%;
}

path.classeLineaSuperficie {
    fill: none;
    stroke: green;
    stroke-width: 3;
}

path.classeLineaQuintali {
    fill: none;
    stroke: brown;
    stroke-width: 3;
}


.asseSuperficie {
    stroke: green;
}

.asseQuintali {
    stroke: brown;

}

.asseQuintali text {
    stroke-width: 0.5;
}
