nav { 
    width: 20%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    border: solid;
    border-radius: 10px;
    background-color: white;
    color: rgb(116, 113, 113);
}



table {
    margin: auto;
}
table, td, th {
   border: thin solid black; 
   width: 45%;
}

thead tr {
    background-color: chartreuse;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

table tr td:last-child {
    text-align: right;
    padding-left: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

tbody tr:first-child {
    background-color: lightcoral;
}

tbody tr.datoClasse3 {
    font-size: large;
    background-color: black;
    color: grey;

}


tbody tr.macroRegione {
    font-size: large;
    background-color: black;
    color: grey;
}