nav { 
    width: 20%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    border: solid;
    border-radius: 10px;
    background-color: white;
    color: rgb(116, 113, 113);
}

a {
    display: block;
    text-decoration: none;
    color: rgb(116, 113, 113);
    margin: 2px;
    font-size: large;
    
}
a:hover {
    font-size: larger;
}

a:visited {
    color: rgb(116, 113, 113);
}

summary {
    font-size: x-large;
    cursor: pointer;
}

/* fino a qui i css sono serviti per il menù */

table {
    margin: auto;
}
table, td, th {
   border: thin solid black; 
   width: 45%;
}


thead tr, thead + tbody tr td {
    background-color: chartreuse;
}


tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

table tr td:last-child {
    text-align: right;
    padding-left: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

tbody tr:first-child {
    background-color: lightcoral;
}





input#soloMacro:checked ~ table tr:not(:first-child) {
    display: none;
}

input#tutte:checked ~ table tr {
    display: table-row;
}

label {
    margin: 20px;
    cursor: pointer;
}

input {
    margin: 10px;
    cursor: pointer;
}