nav { 
    width: 20%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    border: solid;
    border-radius: 10px;
    background-color: white;
    color: rgb(116, 113, 113);
}

a {
    display: block;
    text-decoration: none;
    color: rgb(116, 113, 113);
    margin: 2px;
    font-size: large;
    
}

a:hover {
    font-size: larger;
}

a:visited {
    color: rgb(116, 113, 113);
}

summary {
    font-size: x-large;
    cursor: pointer;
}


/* fino a qui i css sono serviti per il menù */

table {
    margin: auto;
}

table, td, th {
   border: thin solid black; 
}

thead tr, thead + tbody tr:first-child {
    background-color: chartreuse;
}

tbody table tr:nth-child(odd) {
    background-color: lightgrey;
}

tbody table tr:nth-child(even) {
    background-color: white;
}

table table td {
    width: 100%;
}

table tr td:last-child {
    text-align: right;
    padding-left: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

tbody tr:first-child {
    background-color: lightcoral;
}

/* @media only screen {

    tbody tr:not(:first-child) {
        visibility: hidden;
    }

    tbody:hover tr {
        visibility: visible;
    }
}
*/

/* @media only screen {

    tbody.tabella2 tr:not(:first-child) {
        display: none;
    }

    tbody.tabella2:hover tr {
        display: block;
    }
} */

/* @media only screen {

    tbody.tabella3 tr:not(:first-child) {
        opacity: 0.4;
    }

    tbody.tabella3:hover tr {
        opacity: 1;
    }
}  */


/* Proverò ad aggiungere qui la parte che dovrebbe andare nel file css stileRigheChecked */

input#soloMacro:checked ~ table tr:not(:first-child) {
    display: none;
}

input#tutte:checked ~ table tr {
    display: table-row;
}