/* Esercizio 2
rect.datoClasse2 {
    fill: lime;
}
rect.datoClasse3 {
    fill:orange;
}
rect.datoClasse4 {
    fill:aqua;
}
 */

/*Esercizio 3*/

rect.Italia {
    fill: lime;
}
rect.macroRegione {
    fill:orange;
}
rect.regione {
    fill:aqua;
}

header {
    /* posiziona la descrizione nella parte vuota, in basso a destra */
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%
}