nav { 
    width: 20%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    border: solid;
    border-radius: 10px;
    background-color: white;
    color: rgb(116, 113, 113);
}
/* fino a qui si trattava dei css del menù*/
div {
    display: inline-block;
    background-color: orange;
    border: thin solid black;
}

figure {
    height: 40vh; /* 40% dell'altezza del viewport */
    width: 40%;
    padding: 1%;
    border: thin solid red;
    position: relative;
}

figcaption {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 70%;
}

figure {
    float: left;
} 